body {
  background: #8F8F8F;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}
header {
  background: black;
  border-bottom: 2px solid #6D0202;
  margin: 0 0 1em 0;
  padding: 1em 0;
}
h1 {
  text-align: left;
  color: #6D0202;
  margin: 0;
}


img {
  max-width: 100%;
  height: auto;
}